*
{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

body,html
{
  height:100%;
  width:100%;
}

a.disabled
{
  cursor:default;
  opacity:0.2;
  pointer-events:none;
}

.title-container
{
  color:#FFF;
  margin-bottom:30px;
  text-align:center;
}

.title
{
  color:#DEAE4B;
  font-family:Lobster, cursive;
  font-size:72px;
  padding:10px 0;
  text-shadow:0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 0 #666, 0 5px 0 #555, 0 6px 0 #444, 0 7px 0 #333, 0 8px 7px #001135;
}

.main
{
  background:#0A5A5E;
  border-bottom:2px solid #002C2E;
  border-radius:20px;
  border-top:1px solid #004548;
  box-shadow:10px 10px 100px 0 rgba(0,0,0,0.75);
  color:#FFF;
  font-family:Roboto, sans-serif;
  margin-bottom:50px;
  padding:20px;
}

.quote
{
  margin-top:40px;
  overflow:hidden;
  text-align:center;
}

#text
{
  clear:both;
  display:block;
  font-size:26px;
  height:100px;
  width:100%;
}

#text i
{
  padding:0 20px;
}

.divider
{
  border:2px solid;
  border-radius:40%;
  color:#A2A0A0;
  width:50%;
}

#author
{
  clear:both;
  display:block;
  font-size:34px;
  font-style:italic;
  height:50px;
  width:100%;
}

.bottom
{
  -webkit-align-items:center;
  -webkit-justify-content:center;
  align-items:center;
  display:flex;
  height:300px;
  justify-content:center;
  overflow:hidden;
}

#authorThumb img
{
  border:2px solid #FFF;
  border-radius:50%;
  clear:both;
  display:block;
  height:200px;
  width:200px;
}

#menu
{
  border-left:5px solid #A2A0A0;
  margin-left:25px;
  padding-left:25px;
}

#newQuote
{
  background:#0C7A13;
  color:#FFF;
}

#newQuote:hover,#newQuote:focus
{
  background:#3BAE43;
  color:#FFF;
  cursor:pointer;
}

.nav > li > a
{
  background:#002C2E;
  color:#FFF;
  padding:15px;
}

body,.nav > li > a:hover,.nav > li > a:focus
{
  background:#2E8386;
}

@media max-width 500px {
  .main
  {
    box-shadow:0 0 0 0 rgba(0,0,0,0.0);
  }
  
  #text
  {
    font-size:18px;
  }
  
  .nav > li > a
  {
    font-size:18px;
    padding:5px;
  }
  
  #authorThumb img
  {
    height:125px;
    width:125px;
  }
}