* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background: #2E8386;
}

.title-container {
    text-align: center;
    margin-bottom: 30px;
    color: #FFF;
}

.title {
    font-family: 'Lobster', cursive;
    color: #DEAE4B;
    font-size: 72px;
    padding: 10px 0px 10px 0px;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

#newQuote {
    color: white;
    background: #0C7A13;
}

#newQuote:hover,
#newQuote:focus {
    cursor: pointer;
    background: #3BAE43;
    color: white;
}

.main {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid #004548;
    border-bottom: 2px solid #002C2E;
    border-radius: 20px;
    box-shadow: 10px 10px 100px 0px rgba(0, 0, 0, 0.75);
    background: #0A5A5E;
    padding: 20px;
    margin-bottom: 50px;
}

.text-area {
    text-align: center;
    overflow: hidden;
    margin-top: 40px;
}

#quote {
    font-size: 28px;
    height: 100px;
    width: 100%;
    display: block;
    clear: both;
}

#quote i {
    padding: 0px 20px;
}

.divider {
    color: #A2A0A0;
    border: 2px solid;
    border-radius: 40%;
    width: 50%;
}

#author {
    font-style: italic;
    font-size: 34px;
    height: 50px;
    width: 100%;
    display: block;
    clear: both;
}

.thumb {
    height: 300px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: hidden;
}

#authorThumb img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
    display: block;
    clear: both;
}

#thumbMenu {
    border-left: 5px solid #A2A0A0;
    margin-left: 25px;
    padding-left: 25px;
}

.nav > li > a {
    background: #002C2E;
    color: white;
    padding: 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background: #2E8386;
}

a.disabled {
    opacity: 0.2;
    pointer-events: none;
    cursor: default;
}

@media (max-width: 500px) {
    .main {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0);
    }

    #quote {
        font-size: 18px;
    }

    .nav > li > a {
        font-size: 18px;
        padding: 5px;
    }
    
    #authorThumb img {
        height: 125px;
        width: 125px;
    }
}
